data/nodered/.flows.json.backup
[{"id":"b317f7c1.0bf398","type":"tab","label":"Test_m2m"},{"id":"70b6e632.3b12f8","type":"tab","label":"Projet_M2m"},{"id":"e74bf41d.03eb98","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c00e94d4.1e0078","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"m2m","name":"","usetls":false,"tls":""},{"id":"7f052005.dba4b","type":"mqtt-broker","z":"","broker":"jorammq.jyse.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7dea922e.89faec","type":"mqtt in","z":"b317f7c1.0bf398","name":"Brocker","topic":"topic/temperature","qos":"2","broker":"e74bf41d.03eb98","x":117,"y":84,"wires":[["5b49c8f0.4a3988","989bb33c.b8a32"]]},{"id":"5b49c8f0.4a3988","type":"debug","z":"b317f7c1.0bf398","name":"","active":true,"console":"false","complete":"false","x":632.2500076293945,"y":87.25000190734863,"wires":[]},{"id":"84db606f.cdcb4","type":"influxdb out","z":"b317f7c1.0bf398","influxdb":"c00e94d4.1e0078","name":"Database","measurement":"temperature","precision":"","retentionPolicy":"","x":664,"y":522.5,"wires":[]},{"id":"989bb33c.b8a32","type":"function","z":"b317f7c1.0bf398","name":"Tansform","func":"var temperature= (msg.payload);\nmsg.payload=[{\n    sensor: parseFloat(temperature)\n}];\nreturn msg;","outputs":1,"noerr":0,"x":298.25,"y":293.75,"wires":[["492bcc6c.d9e644","84db606f.cdcb4"]]},{"id":"492bcc6c.d9e644","type":"debug","z":"b317f7c1.0bf398","name":"","active":true,"console":"false","complete":"false","x":642,"y":292,"wires":[]},{"id":"d79e00dc.9554a","type":"mqtt in","z":"70b6e632.3b12f8","name":"vitesse","topic":"project04/hall/vitesse_inst","qos":"2","broker":"e74bf41d.03eb98","x":113,"y":142,"wires":[["20a59b3f.b5b904","f14b09f6.4df108"]]},{"id":"9e646024.538","type":"mqtt in","z":"70b6e632.3b12f8","name":"calories","topic":"project04/hall/calories_brulees","qos":"2","broker":"e74bf41d.03eb98","x":113,"y":439,"wires":[["f280a99b.1a8f98","a9135f82.86f4d"]]},{"id":"283c10cb.19638","type":"mqtt in","z":"70b6e632.3b12f8","name":"durée","topic":"project04/hall/duree_seance","qos":"2","broker":"e74bf41d.03eb98","x":115,"y":775,"wires":[["6ea09c43.edf1c4","3f9b945e.6a68fc"]]},{"id":"20a59b3f.b5b904","type":"debug","z":"70b6e632.3b12f8","name":"","active":true,"console":"false","complete":"false","x":324,"y":38,"wires":[]},{"id":"f280a99b.1a8f98","type":"debug","z":"70b6e632.3b12f8","name":"","active":true,"console":"false","complete":"false","x":287,"y":336,"wires":[]},{"id":"6ea09c43.edf1c4","type":"debug","z":"70b6e632.3b12f8","name":"","active":true,"console":"false","complete":"false","x":297,"y":611,"wires":[]},{"id":"a9135f82.86f4d","type":"function","z":"70b6e632.3b12f8","name":"transform","func":"\nvar value=(msg.payload);\nmsg.payload={\n   calorie:parseInt(value) \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":438,"wires":[["1eb8de93.d46611","452cdc3e.5fdda4","2513be3b.5a015a"]]},{"id":"9b085157.7f1a6","type":"influxdb out","z":"70b6e632.3b12f8","influxdb":"c00e94d4.1e0078","name":"dureeData","measurement":"duree","precision":"","retentionPolicy":"","x":1139,"y":770,"wires":[]},{"id":"1eb8de93.d46611","type":"influxdb out","z":"70b6e632.3b12f8","influxdb":"c00e94d4.1e0078","name":"calorieData","measurement":"calorie","precision":"","retentionPolicy":"","x":1134,"y":438,"wires":[]},{"id":"728d9380.db54dc","type":"influxdb out","z":"70b6e632.3b12f8","influxdb":"c00e94d4.1e0078","name":"vitesseData","measurement":"vitesse","precision":"","retentionPolicy":"","x":1104,"y":137,"wires":[]},{"id":"f14b09f6.4df108","type":"function","z":"70b6e632.3b12f8","name":"transform","func":"\nvar value=(msg.payload);\nmsg.payload={\n   vitesse:parseInt(value) \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":139,"wires":[["728d9380.db54dc","eea6c1ec.0b635","80352261.1eb9f"]]},{"id":"3f9b945e.6a68fc","type":"function","z":"70b6e632.3b12f8","name":"transform","func":"\nvar value=(msg.payload);\nmsg.payload={\n   duree:parseInt(value) \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":771,"wires":[["9b085157.7f1a6","40e0a744.9630c8","f7e4d37a.335348"]]},{"id":"eea6c1ec.0b635","type":"mqtt out","z":"70b6e632.3b12f8","name":"","topic":"project04/hall/vitesse_inst","qos":"","retain":"","broker":"7f052005.dba4b","x":1103,"y":198,"wires":[]},{"id":"40e0a744.9630c8","type":"mqtt out","z":"70b6e632.3b12f8","name":"","topic":"project04/hall/duree_seance","qos":"","retain":"","broker":"7f052005.dba4b","x":1128,"y":825,"wires":[]},{"id":"452cdc3e.5fdda4","type":"mqtt out","z":"70b6e632.3b12f8","name":"","topic":"project04/hall/calories_brulees","qos":"","retain":"","broker":"7f052005.dba4b","x":1126,"y":499,"wires":[]},{"id":"80352261.1eb9f","type":"blockchain","z":"70b6e632.3b12f8","name":"Blockchain","enabledebug":"true","x":877,"y":303,"wires":[["d79c6a55.d4026"]]},{"id":"d79c6a55.d4026","type":"debug","z":"70b6e632.3b12f8","name":"","active":true,"console":"false","complete":"false","x":1191,"y":315,"wires":[]},{"id":"2513be3b.5a015a","type":"blockchain","z":"70b6e632.3b12f8","name":"Blockchain","enabledebug":"true","x":844,"y":593,"wires":[["202d498f.4b2406"]]},{"id":"202d498f.4b2406","type":"debug","z":"70b6e632.3b12f8","name":"","active":true,"console":"false","complete":"false","x":1135,"y":635,"wires":[]},{"id":"f7e4d37a.335348","type":"blockchain","z":"70b6e632.3b12f8","name":"Blockchain","enabledebug":"true","x":844,"y":941,"wires":[["d493320.e75cb5"]]},{"id":"d493320.e75cb5","type":"debug","z":"70b6e632.3b12f8","name":"","active":true,"console":"false","complete":"false","x":1151,"y":943,"wires":[]}]